@mixin flex-centered {
  display: flex;
	justify-content: center;
	align-items: center;
}
@mixin drop-default {
	outline: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
}