@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;500;700&display=swap");
@import "src/components/shared/styles/variables.scss";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: "Overpass", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 100%;
  background: $color1;
  // background: #61545447;
  color: $font-color1;
  font-size: 20px;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 0;
  background: rgb(89, 102, 122);
}
body {
  // opacity: 0;
  position: relative;
  z-index: 0;
}
a,
p {
  color: $font-color2;
  text-decoration: none;
}
h1 {
  color: $font-color1;
}
dialog {
  @include drop-default;
}
button {
  color: $color5;
}
input.default {
  @include drop-default;
  @include bordered;
  background: $color3;
  padding-left: 2ch;
  color: $font-color1;
  font-size: 0.8em;
}
input.default::placeholder {
  color: $font-color2;
}
input.default:focus::placeholder {
  text-decoration: underline;
}
input.ghost {
  background: green;
}
input.toggle {
  background: green;
}
.logo {
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: min-content;
  height: min-content;
  height: 70px;
  align-items: center;
}
.logo img {
  width: 60px;
  height: 60px;
}

.content {
  // background: #15181c;
  // padding-top: 100px;
}
textarea.textarea {
  resize: none;
  background: none;
  outline: none;
  border: none;
}
.text-input-container {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.text-input[type="text"] {
  background: none;
  outline: none;
  border: none;
}
.num-input[type="number"] {
  text-align: right;
}
.num-input[type="number"]:disabled {
  color: currentColor;
  background: none;
  outline: none;
  border: none;
  appearance: textfield;
  -moz-appearance: textfield;
  font-size: medium;
}

.num-input[type="number"]:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menu-enter-from,
.menu-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-leave-active,
.menu-enter-active {
  transition: 0.5s ease;
}
.router-enter-from {
  transform: translateX(-30%);
  opacity: 0;
}
.router-leave-to {
  transform: translateX(30%);
  opacity: 0;
}

.router-leave-active,
.router-enter-active {
  transition: 0.25s ease-in;
}
