@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;500;700&display=swap");
@import "src/components/shared/styles/variables.scss";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: "Overpass", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 100%;
  background: $color1;
  // background: #61545447;
  color: $font-color1;
  font-size: 20px;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 0;
  background: rgb(89, 102, 122);
}
body {
  // opacity: 0;
  position: relative;
  z-index: 0;
}
.route {
  margin-top: 3em;
}
a,
p {
  color: $font-color2;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color1;
}
dialog {
  @include drop-default;
}
button {
  color: $color5;
}

input.default {
  @include drop-default;
  @include bordered;
  background: $color3;
  padding-left: 2ch;
  color: $font-color1;
  font-size: 0.8em;
}
input.default::placeholder {
  color: $font-color2;
}
input.default:focus::placeholder {
  text-decoration: underline;
}
input.ghost {
  @include drop-default;
  border-radius: 0.4em;
  // text-align: center;
  color: $font-color1;
}
input.ghost::placeholder {
  color: $font-color2;
  opacity: 0.5;
}
input.ghost:focus {
  background: $color3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.logo {
  display: flex;
  position: fixed;
  top: 0;
  left: -6px;
  z-index: 5;
  width: fit-content;
  height: fit-content;
  align-items: center;
  cursor: pointer;
}
.logo img {
  width: 5em;
  aspect-ratio: 1/1;
  @media (width < 450px) {
    width: 4em;
  }
}

// .content {
//   // background: #15181c;
//   // padding-top: 100px;
// }
textarea {
  border: 1px solid $color4;
  background: none;
  color: $font-color1;
  padding: 1ch;
  border-radius: 10px;
  &:focus {
    outline: none;
    box-shadow: 0 0 6px 0 $color4;
  }
  &::-webkit-resizer {
    color: white;
    background: url("@/assets/resize.png");
    background-size: 100%;
    margin-top: 50px;
  }
  &::-webkit-resizer:hover {
    transform: rotate(30deg);
  }
}
textarea.max {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.text-input-container {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.text-input[type="text"] {
  background: none;
  outline: none;
  border: none;
}
.num-input[type="number"] {
  text-align: right;
}
.num-input[type="number"]:disabled {
  color: currentColor;
  background: none;
  outline: none;
  border: none;
  appearance: textfield;
  -moz-appearance: textfield;
  font-size: medium;
}

.num-input[type="number"]:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menu-enter-from,
.menu-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-leave-active,
.menu-enter-active {
  transition: 0.5s ease;
}
.router-enter-from {
  transform: translateX(-30%);
  opacity: 0;
}
.router-leave-to {
  transform: translateX(30%);
  opacity: 0;
}

.router-leave-active,
.router-enter-active {
  transition: 0.25s ease-in;
}

.pop-up-select {
  overflow-y: scroll;
  height: 500px;
  width: 300px;
  .option {
    @include drop-default;
    position: relative;
    height: fit-content;
    width: 100%;
    font-size: large;
    padding: 1em;
    cursor: pointer;
    transition: 1s;
  }
  .option:hover {
    background: $color2;
  }
  @media (width < 400px) {
    .option {
      @include drop-default;

      border-bottom: 2px solid $color2;
    }
    .option:last-of-type {
      border-bottom: none;
    }
  }
}
.selection {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 1em;
  @media (width < 400px) {
    flex-direction: column;
    gap: 0.6em;
  }
}
.dragging {
  * {
    opacity: 0.6 !important;
  }
}
