$color1: #13111a;
$color2: #1d1a27;
$color3: #302c3f;
$color4: #83808c;
$color5: #bbb6c8;
$color-pink: #ff4980;
$color-purple: #e15ec7;
$color-blue: #4f56ff;
$color-turquoise: #00ffab;
$font-color1: #dad5e7;
$font-color2: #b7b4c7;
