name: Vue CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create SSH key
        run: |
          mkdir -p ~/.ssh
          echo "HOST *" > ~/.ssh/config
          echo "StrictHostKeyChecking no" >> ~/.ssh/config
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          echo "${{ secrets.ALLOWED_HOSTS }}" > ~/.ssh/known_hosts
          ssh admin@${{secrets.SERVER_IP}} "echo hello  > hi.txt"
          ls
          pwd
          cd .. && ls
          docker-compose config
          # docker-compose config | ssh admin@${{secrets.SERVER_IP}} "docker-compose up -d -"
